/* ----------------------------------------------------
	ADD CUSTOM STYLES HERE...
------------------------------------------------------- */  
a{
    
    color: #119E5D;
    font-weight: 600;
}
.footer .widget ul li a{
    color: #119E5D;
}
.footer .widget ul li a:hover{
        color: #FFFFFF;
}
.navbar-brand img{
    max-width: 190px;
}


.comingsoon p{
	font-size:100%;
}

.plan .head, .topbar, .pagination a, .navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, mark, .grid figcaption, .blogging:hover, .btn-primary, .progress-bar, .owl-theme .owl-controls .owl-nav [class*=owl-], .navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li:focus > a, .navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus, .navbar-default .nav > li > a.active, .navbar-default .dropdown-menu, .dark-yellow{
    background-color:rgb(17,158,93);
}
    .panel-default > .panel-heading + .panel-collapse > .panel-body,
    .bgcolor,
    .border-top,
    .workinghours,
    .nav-tabs > li.active > a, 
    .nav-tabs > li.active > a:hover, 
    .nav-tabs > li.active > a:focus {
        border-top-color: rgb(17,158,93);
    }
    .yamm .dropdown.yamm-fw .dropdown-menu,
    .nav-tabs > li a:hover,
    .nav-tabs > li.active > a, 
    .nav-tabs > li.active > a:hover, 
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover, 
    .nav-tabs > li.active > a:focus {
        border-top-color: rgb(17,158,93);
    }

    blockquote,
    .content-widget .widget-title hr,
    #sidebar .widget-title hr,
    .form-control:focus:not([readonly]),
    .general-title hr {
        border-color: rgb(17,158,93);
    }
    ::selection {
        background: rgb(17,158,93);/* Safari */
        color:#fff;
    }
    ::-moz-selection {
        background: rgb(17,158,93); /* Firefox */
        color:#fff;
    }

        .footer a:hover,
    .copyright a:hover,
    .twitter-widget a {
        color:rgb(17,158,93);
    }
    .rating i,
    span.clients-name,
    .latest-tweets a,
    .block-text a small,
    .breadcrumb > .active,
    .check li:before,
    .latest-tweets p:before,
    .shop-item small,
    .shop-desc small,
    .category_title,
    .portfolio-filter ul li i,
    .team-member h4 span,
    .readmore,
    .slider_layer_01 i,
    .topbar.dark .social a:hover,
    #quote-carousel blockquote small,
    .social a:hover {
        color:rgb(17,158,93);;
    }
    .navbar-default .dropdown-menu li:focus,
    .navbar-default .dropdown-menu li:hover a,
    .pink {
        background-color: rgb(76,81,155);
    }

    .social a,
    .pager a,
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
    .tag-widget a:hover,
    p.drop-caps.full:first-child:first-letter,
    .dropdown-menu > li:hover > a,
    .btn-primary:hover,
    .form-header,
    .btn-primary:focus,
    .btn-primary.focus,
    .btn-primary:active,
    .services-1 i,
    .pitem .st,
    .contact-details h1,
    .btn-primary.active,
    .open > .dropdown-toggle.btn-primary,
    .magnifier .st:hover,
    .slider_btn .btn-primary {
        border-color: rgb(17,158,93);
        background-color: rgb(17,158,93);
        color:#fff !important;
    }

    .blog-image img{
        max-width:850px;
        max-height:500px;
    }

.page-content li{
    line-height: 2;
    background: url('http://www.plantranch.ca/production/wp-content/uploads/2016/02/Plant-Ranch-flower-e1463247538737.jpeg')no-repeat left 12px;
    padding-left: 35px;
    display: block;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}


.page-content ul{
    list-style-type: none;
}

.section-title h2{
    font-weight: normal;
    padding:15px 0;
}

#content td{
    padding: 15px;
}
    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        .comingsoon .videobg{
        	padding:0px;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
.comingsoon .videobg{
	padding:0px;
}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



