/*** YELLOW ***/

	.footer a:hover,
	.copyright a:hover,
	.twitter-widget a {
		color:#5d3a39 !important;
	}

	.rating i,
	span.clients-name,
	.latest-tweets a,
	.block-text a small,
 	.breadcrumb > .active,
	.check li:before,
	.latest-tweets p:before,
	.shop-item small,
	.shop-desc small,
	.category_title,
	.portfolio-filter ul li i,
	.team-member h4 span,
	.readmore,
	.slider_layer_01 i,
	.topbar.dark .social a:hover,
	#quote-carousel blockquote small,
	.social a:hover {
		color:#5aa320;
	}
	.navbar-default .dropdown-menu li:focus,
	.navbar-default .dropdown-menu li:hover a,
	.pink {
		background-color: #5d3a39;
	}

	.social a,
	.pager a,
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
	.tag-widget a:hover,
	p.drop-caps.full:first-child:first-letter,
	.dropdown-menu > li:hover > a,
	.btn-primary:hover,
	.form-header,
	.btn-primary:focus,
	.btn-primary.focus,
	.btn-primary:active,
	.services-1 i,
	.pitem .st,
	.contact-details h1,
	.btn-primary.active,
	.open > .dropdown-toggle.btn-primary,
	.magnifier .st:hover,
	.slider_btn .btn-primary {
		border-color: #5d3a39 !important;
		background-color: #5d3a39 !important;
		color:#fff !important;
	}
	.plan .head,
	.topbar,
	.pagination a,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a,
	.navbar-default .navbar-nav > .open > a, 
	.navbar-default .navbar-nav > .open > a:hover, 
	.navbar-default .navbar-nav > .open > a:focus,
	mark,
	.grid figcaption,
	.blogging:hover,
	.btn-primary,
	.progress-bar,
	.owl-theme .owl-controls .owl-nav [class*=owl-],
	.navbar-default .navbar-nav > li:hover > a,
	.navbar-default .navbar-nav > li:focus > a,
	.navbar-default .nav > li > a:hover,
	.navbar-default .nav > li > a:focus,
	.navbar-default .nav > li > a.active,
	.navbar-default .dropdown-menu,
	.dark-yellow {
		color:#ffffff !important;
		background-color: #734a4a !important;
	}

	.yamm .dropdown.yamm-fw .dropdown-menu,
	.nav-tabs > li a:hover,
	.nav-tabs > li.active > a, 
	.nav-tabs > li.active > a:hover, 
	.nav-tabs > li.active > a:focus,
	.nav-tabs > li.active > a:hover, 
	.nav-tabs > li.active > a:focus {
		border-top-color: #734a4a;
	}

	blockquote,
	.content-widget .widget-title hr,
	#sidebar .widget-title hr,
	.form-control:focus:not([readonly]),
	.general-title hr {
		border-color: #734a4a;
	}

	.panel-default > .panel-heading + .panel-collapse > .panel-body,
	.bgcolor,
	.border-top,
	.workinghours,
	.nav-tabs > li.active > a, 
	.nav-tabs > li.active > a:hover, 
	.nav-tabs > li.active > a:focus {
		border-top-color: #734a4a !important;
	}
	::selection {
		background: #734a4a; /* Safari */
		color:#fff;
	}
	::-moz-selection {
		background: #734a4a; /* Firefox */
		color:#fff;
	}
	.sticky-col .big-meta,
	.customoverlay {
		background-color: rgba(106,180,47,0.7)
	}
	.lighttopbar {
		background-color: #5d3a39 !important;
	}